---
import Button from "@/components/shared/Button.astro";
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import projectData from "@/data/projects.json";
import ProjectCard from "@/components/shared/ProjectCard.astro";
import TitleSection from "@/components/shared/TitleSection.astro";
import Badge from "@/components/shared/Badge.astro";
---

<section
  class="hero-background relative flex h-fit w-full flex-col items-center justify-center"
>
  <div class="flex h-[50vh] flex-col items-center justify-center gap-4">
    <TitleParagraph
      title="My Projects - Compilation"
      variant="h1"
      centered
      white
      text="All my remarkable projects I built over the years!"
    />
    <div class="flex w-full flex-row justify-center gap-8">
      <Button link="/services">Hire Me</Button>
      <Button primaryOrSecondary="secondary" link="/projects">Learn More</Button
      >
    </div>
  </div>
  <TitleSection
    sectionClassname="-mt-8"
    title="My Top Projects"
    flexOrGrid="grid"
    breakpoint="2xl"
  >
    {
      projectData.top.map((project) => (
        <ProjectCard
          title={project.title}
          text={project.description}
          iconName={project["icon-name"]}
          iconSize={36}
          repository={project.repository}
          deployed={project.deployed}
          link={project.link}
          stack={project.stack}
        >
          <div class="flex flex-col gap-8">
            <div class="flex w-full flex-row items-start justify-start gap-2">
              {project.stack.map((tech) => (
                <Badge text={tech} />
              ))}
            </div>
          </div>
        </ProjectCard>
      ))
    }
  </TitleSection>
</section>
