---
import { Icon } from "astro-icon/components";
import Badge from "@/components/shared/Badge.astro";
interface Props {
  iconName: string;
  title: string;
  iconSize: number;
  text: string;
  type?: "flex-col" | "flex-row" | "flex-col-reverse";
  class?: string;
  deployed: boolean;
  repository: string;
  link?: string;
  stack: string[];
}

const {
  iconName,
  link,
  stack,
  repository,
  deployed,
  iconSize,
  title,
  text,
  type = "flex-col",
  class: className,
} = Astro.props;
---

<div
  class:list={[
    "bg-accent text-card-foreground hover-transform border-muted flex gap-6 overflow-hidden rounded-xl border shadow-sm",
    className,
  ]}
>
  <div class="flex w-full flex-col items-start justify-between gap-4 p-6">
    <div class={`flex w-full items-start justify-between gap-2 ${type}`}>
      <Icon name={iconName} size={iconSize} class:list={"text-foreground"} />
      <div class="flex flex-col items-start gap-2">
        <h3 class="text-foreground">{title}</h3>
        <p>{text}</p>
      </div>
    </div>
    <div class="flex flex-col gap-8">
      <div class="flex w-full flex-row items-start justify-start gap-2">
        {stack.map((tech) => <Badge text={tech} />)}
      </div>
      {
        deployed ? (
          <div class="flex flex-row gap-8">
            <a class="link-primary text-left" href={repository}>
              Repository
            </a>
            <a class="link-primary text-left" href={link}>
              See the demo
            </a>
          </div>
        ) : (
          <a class="link-primary text-left" href={repository}>
            Repository
          </a>
        )
      }
    </div>
  </div>
</div>
