---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import { Image } from 'astro:assets';
interface Props {
    imageSrc: string;
    imageAlt: string;
    title: string;
    text: string;
    action?: AstroComponentFactory;
    type: "flex-col" | "flex-row";
    class?: string;
    extraComponent?: AstroComponentFactory;
};

const {imageSrc, action ,imageAlt, title, text, type, class:className, extraComponent} = Astro.props
---

<div 
class:list={[
	"bg-accent text-card-foreground  flex flex-col gap-6 rounded-xl border border-muted overflow-hidden shadow-sm",
	className
]}>
	<div class:list={[
		"flex w-full justify-between gap-4 pb-6",
		type
	]}>
		<div class="flex flex-col items-start gap-2 px-6">
			<h3>{title}</h3>
			<p>{text}</p>
		</div>
		{action}
	</div>
	<img
		src={imageSrc}
		alt={imageAlt}
		class="size-full object-cover aspect-video max-h-1/2 relative"
	/>

</div>