---
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import FlexSection from "@/components/shared/FlexSection.astro";
import GridSection from "@/components/shared/GridSection.astro";
interface Props {
  title: string;
  paragraph?: string;
  class?: string;
  centeredTitle?: boolean;
  flexOrGrid?: "flex" | "grid";
  sectionClassname?: string;
  noPadding?: boolean;
  breakpoint?: "sm" | "md" | "xl" | "2xl" 
}

const {
  title,
  paragraph,
  class: className,
  centeredTitle,
  flexOrGrid,
  sectionClassname,
  noPadding,
  breakpoint = "xl"
} = Astro.props;
---

<section
  class={`${noPadding ? "relative w-full max-w-400 py-12 md:py-16" : "section"} flex w-full flex-col gap-4 ${sectionClassname}`}
>
  {
    paragraph ? (
      <TitleParagraph
        variant="h2"
        title={title}
        text={paragraph}
        class:list={[{ "pl-8 md:pl-12": noPadding }]}
      />
    ) : (
      <h2
        class={`${centeredTitle && "text-center"} ${noPadding ? "pl-8 md:px-12" : ""}`}
      >
        {title}
      </h2>
    )
  }
  {
    flexOrGrid ? (
      flexOrGrid === "grid" ? (
        <GridSection class={className} breakpoint={breakpoint}>
          <slot />
        </GridSection>
      ) : (
        <FlexSection class={className} breakpoint={breakpoint}>
          <slot />
        </FlexSection>
      )
    ) : (
      <div class={className}>
        <slot />
      </div>
    )
  }
</section>
