---
import achievmentsData from "@/data/achievments.json";
import TitleSection from "@/components/shared/TitleSection.astro";
import Card from "@/components/shared/Card.astro";
---

<TitleSection title="My Achievments" flexOrGrid="flex" breakpoint="2xl">
  {
    achievmentsData.map((achievment) => (
      <Card
        title={achievment.title}
        text={achievment.description}
        imageSrc={achievment.image}
        imageAlt={achievment.description}
        type="flex-col"
        class="xl:max-w-1/3"
      >
        <a href={achievment.proof} class="link-primary text-left">
          See the certificates
        </a>
      </Card>
    ))
  }
</TitleSection>
