---
import Button from "@/components/shared/Button.astro";
import TitleParagraph from "@/components/shared/TitleParagraph.astro";
import TitleSection from "@/components/shared/TitleSection.astro";
import Card from "@/components/shared/Card.astro";
import achievmentsData from "@/data/achievments.json";
---

<section
  class="hero-background relative flex h-fit w-full flex-col items-center justify-center"
>
  <div class="flex h-[50vh] flex-col items-center justify-center gap-4">
    <TitleParagraph
      title="My Achievments & Certificates"
      variant="h1"
      centered
      white
      text="All my proof of achievments and skills!"
    />
    <div class="flex w-full flex-row justify-center gap-8">
      <Button link="/services">Hire Me</Button>
      <Button primaryOrSecondary="secondary" link="/projects">Learn More</Button
      >
    </div>
  </div>
  <TitleSection
    sectionClassname="-mt-8"
    title="My Achievments"
    flexOrGrid="flex"
    breakpoint="xl"
  >
    {
      achievmentsData.map((achievment) => (
        <Card
          title={achievment.title}
          text={achievment.description}
          imageSrc={achievment.image}
          imageAlt={achievment.description}
          type="flex-col"
          class="xl:max-w-1/3"
        >
          <a href={achievment.proof} class="link-primary text-left">
            See the certificates
          </a>
        </Card>
      ))
    }
  </TitleSection>
</section>
